@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div ng-app="app" ng-controller="AdditionalInterestCtrl">

    <div id="AdditionalInterest">
        <table class="table table-bordered">
            <tr><td colspan="4"> Additional Interest</td></tr>
            <tr>
                <td>Quote #</td>
                <td>{{Quote.QuoteNumber}}</td>
                <td colspan="2">{{Quote.PersonFullName}}</td>
            </tr>
            <tr>
                <td>Product </td>
                <td>{{Quote.Product}}</td>
                <td>State</td>
                <td>{{Quote.State}}</td>
            </tr>
            <tr>
                <td>Effective Date </td>
                <td>{{Quote.EffectiveDate}}</td>
                <td>Expiration Date</td>
                <td>{{Quote.ExpirationDate}}</td>
            </tr>
        </table>
    </div>

    <p></p>

    <div class="AdditionalInterestQuestion">
        <table class="table table-bordered">
            <tr><td colspan="2">Additional Interest Question</td></tr>
            <tr>
                <td>Do you have a loan/lease or additional interest on a vehicle ?* </td>
                <td>
                    <div class="radio">
                        <label><input type="radio" ng-model='AdditionalInterestQuestion' ng-value='"true"' name="sex" ng-change="EnableDisableSection(true)">Yes</label>
                        <label><input type="radio" ng-model='AdditionalInterestQuestion' ng-value='"false"' name="sex" ng-change="EnableDisableSection(false)">No</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <p></p>

    <div id="AdditionalInterestSearch" ng-show="enableSearch">
        <table class="table table-bordered">
            <tr class="row"><td colspan="3">Additional Interest Search</td></tr>
            <tr class="row">
                <td align="center">Name*</td>
                <td colspan="2" align="left">
                    <input type="text" ng-model='searchName' />
                </td>
            </tr>
            <tr class="row" ng-hide="enableAddContact">
                <td></td>
                <td colspan="2" align="left">
                    <input type="button" value="Search" ng-click="SearchCommand(searchName)" class="btn btn-primary" />
                    <input type="button" value="AddNew" ng-click="EnableAddSection()" class="btn btn-primary" />
                </td>
            </tr>
            <tr class="row">
                <td colspan="3">
                    <p></p>
                    <div class="class=table table-bordered" ng-show="enableSearchResults">
                        <p>Search Results</p>

                        <ul>
                            <li ng-repeat="searchItem in searchResults">
                                {{searchItem.Name}} + ' ' + {{searchItem.Address}} + ' ' + {{searchItem.City}} + ' ' + {{searchItem.State}} + ' ' + {{searchItem.ZipCode}}
                                <input type="button" value="Select" class="btn btn-secondary" />
                            </li>
                        </ul>

                    </div>
                </td>
            </tr>
        </table>

    </div>

    <p></p>

    <div ng-show="enableAddContact">
        <table class="table table-bordered">
            <tr><td colspan="4"> Contact Information</td></tr>
            <tr>
                <td>Address*</td>
                <td> <input type="text" ng-model="Contact.Address" maxlength="100" /></td>
                <td>City*</td>
                <td> <input type="text" ng-model="Contact.City" maxlength="30" /></td>
            </tr>
            <tr>
                <td>State*</td>
                <td>
                    <select calss="btn btn-default dropdown-toggle btn-Dropdown" ng-model="selectedState"
                            ng-options="option.Name for option in States" ng-change="SelectedState()" />
                </td>
                <td>Zip Code*</td>
                <td> <input type="text" ng-model="Contact.ZipCode" maxlength="5" /></td>
            </tr>
            <tr>
                <td>Phone*</td>
                <td> <input type="text" ng-model="Contact.Phone" maxlength="20" /></td>
                <td>Fax</td>
                <td> <input type="text" ng-model="Contact.Fax" maxlength="20" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" ng-model="Contact.Email" maxlength="100" /></td>
                <td colspan="2" align="left"> <input type="button" value="Save New" ng-click="SaveContact(Contact)" class="btn btn-primary" /> </td>
            </tr>
        </table>

    </div>

</div>

<script src="~/CustomScripts/angular.js"></script>
<script src="~/CustomScripts/app.js"></script>
<script src="~/CustomScripts/Services/AdditionalInterestService.js"></script>
<script src="~/CustomScripts/Controllers/AdditionlInterestCtrl.js"></script>



